.sr-only{
  display: none;
}

h1{
  margin: 50px auto;
  font-size: 60px;
}

input{
  margin: 20px;
  min-width: 400px;
  padding: 5px;
}

@media (max-width: 768px){
  .search-container{
    flex-direction: column !important;
  }
}

@media (max-width: 420px){
  input{
    min-width: auto;
  }
}

.reset{
  margin: 20px;
}

.repoList,
.noRepos{
  margin-top: 20px;
}

.logo-o{
  color: transparent;
  background: url("GitHub-Mark-64px.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 70%;
}

.o1{
    animation: bounce 0.8s;
    animation-direction: alternate;
    animation-timing-function: ease;
    animation-iteration-count: 3;
}

.o2{
  animation: bounce 1s;
  animation-direction: alternate;
  animation-timing-function: ease;
  animation-iteration-count: 3;
}
@keyframes bounce { 
  0% { transform: translateY(0) rotate(0deg); }
  50% { transform: translateY(-25px) rotate(180deg); }
  100% { transform: translateY(0) rotate(360deg);
  }  
}
